<main class="row">
  <main class="col-sm">
    <div class="body">
      <div class="myheader">
        <div routerLink="/home">
          <i class="fa fa-arrow-left"></i>
        </div>

        <div class="mt-4">
          <h5>Select contact</h5>
          <p>{{myService.chatsArray.length}} contacts</p>
        </div>

        <div class="">
          <i class="fa fa-search"></i>
          <i class="fa fa-ellipsis-v ml-3 mt-1"></i>
        </div>

      </div>

      <div class="classBody">
        <div class="newcontact d-flex">
          <div class="d-flex">
            <i class="fa fa-users"></i>
            <h5 class="ml-3 mt-2">New group</h5>
          </div>

          <div></div>


        </div>
        <div class="newcontact d-flex">
          <div class="d-flex">
            <i class="fa fa-user"></i>
            <h5 class="ml-3 mt-2">New contact</h5>
          </div>

          <div>
            <i class="fa fa-barcode"></i>
          </div>


        </div>
      </div>


    </div>

  </main>
</main>